# Environment variables

# Executables
dist/
build/
wallets/

# CSV files
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
*.swp
*.swo
config.bat
node_modules
